<style>

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background:#CD5C5C;
  padding: 10px;
}

.header {
  padding: 70px;
  text-align: center;
  background-size:1500px 500px;
  background-image:url('../img/04.jpg');
  font-family: monospace;
  color: white;
  z-index:5;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: #008B8B;
}

.leftcolumn {   
  float: left;
  width: 70%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #CD5C5C;
  padding-left: 20px;
}

.fakeimg {
  background-color: #FFFFFF;
  width: 80%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 0.5px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.top{
  text-align:right;
}
#grade{
  background-color: #DEB887;
  margin-top: 50px;
  width: 70%;
  margin-left:150px;
}
#buttom{
  position:absolute;
  left:420px;
}
</style>